.task-name-group {
  display: inline-flex;
  position: relative;
  top: 20px;
}

.task-name-button {
  position: relative;
  top: 1px !important;
}

.select-class {
  position: relative;
  left: 50px;
  height: 40px;
}

.refresh-button {
  position: relative;
  left: 500px;
}

.task-name-label1 {
  position: relative;
  left: 20px;
  margin-right: 5px;
  height: 38px;
  display: inline-block;
  background-color: beige;
  font-weight: bold;
  position: relative;
  top: -6px;
  padding-top: 2px;
}
