.add-task-button {
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
}

.todo-form {
  text-align: center;
}

.task-name-group {
  display: inline-flex;
  position: relative;
  top: 20px;
}

.task-name-label {
  margin-right: 5px;
  height: 38px;
  display: inline-block;
  background-color: beige;
  font-weight: bold;
  position: relative;
  top: -6px;
  padding-top: 2px;
}

.task-name-control {
  width: 200px !important;
  display: inline-block !important;
}

.task-name-button {
  display: inline-block !important;
  margin-left: 5px;
  height: 38px;
  position: relative;
  top: -3px;
  left: 10px;
}
